#player1 {
    background-color: red;
    position: absolute;
}

#player2 {
    background-color: green;
    position: absolute;
}

#ball {
    background-color: blue;
    position: absolute;
    /*transition: top 0.03s, left 0.03s;*/
    transition: transform 0.03s linear;
}

#gamearea {
    position: relative;
    width: 100%;
    height: 70%;
    background-color: black;
    border: solid;
    border-color: blueviolet;
    margin: auto;
}

.makeRed {
    color: red;
}

.makeGreen {
    color: green;
}

.makeGolden {
    color: goldenrod;
}
